.header-contact-us {
  margin-bottom: 5em;
}

main section {
  display: flex;
  justify-items: center;
  align-items: center;
}

.card-header {
  font-size: 16pt;
  font-weight: 700;
}

main section .card .card-body,
.row .btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

main section .card .card-body .btns .btn-outline-danger {
  margin-left: 0.3em;
}

main section .card .card-body .comments {
  margin-top: 1em;
}
