body {
  height: 100vh;
}

.header-contact-us {
  margin-bottom: 5em;
}

.content-card .card {
  justify-content: center;
}

main section {
  display: flex;
  justify-items: center;
  align-items: center;
}

.card-header {
  font-size: 16pt;
  font-weight: 700;
}

main section .card .card-body,
.row .btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

main section .card .card-body .btns .btn-outline-danger {
  margin-left: 0.3em;
}

main section .card .card-body .comments {
  margin-top: 1em;
}

footer {
  display: flex;
  background-color: #f8f9fa;
  justify-content: center;
  justify-items: center;
  bottom: 0;
  width: 100%;
  position: absolute;
}
