html,
body {
  width: 100vw;
  height: 100vh;
}

.content .map {
  width: 100vw;
  height: 90vh;
}

.carousel {
  height: 35vh;
}

.carousel img {
  height: 35vh;
}

footer {
  display: flex;
  background-color: #f8f9fa;
  justify-content: center;
  justify-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
